.login-form{
    padding: 20px;
    margin-top: 50px;
    margin-left: 500px;
    width: 340px; 
    background-color: beige;
    .login-form-forgot{
        float: right;
    }
    .login-form-remember{
        float: left;
    }
}